body {
    background-color: $color_white;
    font-family: Roboto;
    color: $color_text;
    font-size: 14px;
    line-height: 1.71;
    margin: 0;
    padding: 0;
    letter-spacing: 0.03em;
    /* padding-left: 4px;
    padding-right: 4px; */
  }