$color_blu: #2196f3;
$color_white: #ffffff;
$color_black: #212121;
$color_text: #757575;
$color_main: #e5e5e5;
$color_second: #f5f4fa;
$text: Raleway;
$text_all: Roboto;
html {
    box-sizing: border-box;
  }
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
  li {
    list-style: none;
    text-decoration: none;
    margin: 0;
  }
  div{
    margin: 0;
  }
  img{
    display: block;
    margin: 0;
  }
  section{
    margin: 0;
    padding: 0;
  }
  p {
    margin: 0;
    padding: 0;
  }
  .list {
    margin: 0;
    padding: 0;
  }
 
