$colorblu: #2196f3;
$colorwhite: #ffffff;
$colorblack: #212121;
$colortext: #757575;
$colormain: #e5e5e5;
$colorsecond: #f5f4fa;
$texmain: Raleway;
$texall: Roboto;
html {
    box-sizing: border-box;
  }
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
  li {
    list-style: none;
    text-decoration: none;
    margin: 0;
  }
  div{
    margin: 0;
  }
  img{
    display: block;
    margin: 0;
  }
  section{
    margin: 0;
    padding: 0;
  }
  p {
    margin: 0;
    padding: 0;
  }
  .list {
    margin: 0;
    padding: 0;
  }
 
